div.mapa blockquote
{
	padding:		3px 3px 3px 10px;
	margin:			0px 30px 0px 50px;
	background:		white;
	border-top:		1px dashed #999;
	border-bottom:	1px dashed #999;
	border-left:	5px solid #369;
}

div.mapa blockquote blockquote
{
	border-left-color:	#3B77B1;
}

div.mapa blockquote blockquote blockquote
{
	border-left-color:	#4987C3;
}

div.mapa blockquote blockquote blockquote blockquote
{
	border-left-color:	#6197CB;
}

div.mapa blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#79A7D2;
}

div.mapa blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#91B6DA;
}

div.mapa blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#A9C6E3;
}

div.mapa blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#C1D6EA;
}

div.mapa div.box
{
	padding:	3px;
	margin:		5px;
	background:	white;
	border:		1px solid #DDDDDD;
}

div.mapa div.box div
{
	padding:	4px 4px 0px 4px;
}

div.mapa div.box_0 div
{
	display:	none;
}

div.mapa div.box_1 div
{
	display:	block;
}

div.mapa div.box h1
{
	padding:		3px 3px 3px 20px;
	margin:			0px;
	font-size:		100%;
	font-weight:	bold;
	cursor:			pointer;
}

div.mapa div.box_0 h1
{
	background:		#EEEEEE url('box_0.png') no-repeat 2px 1px;
}

div.mapa div.box_1 h1
{
	background:		#EEEEEE url('box_1.png') no-repeat 2px 1px;
}

div.mapa div.center
{
	margin:		auto;
	text-align:	center;
}

div.mapa div.cmd
{
	border:			1px solid #003366;
	border-right:	0;
	border-top:		0;
	border-bottom:	0;
	margin-left:	10px;
	padding-left:	5px;
}

div.mapa div.modo
{
	background:		#FFEBEB;
	border-top:		1px dashed #CC3300;
	border-bottom:	1px dashed #CC3300;
	border-left:	5px solid #CC3300;
	padding:		3px 3px 3px 10px;
	margin:			0px 30px 0px 50px;
}

div.mapa span.color0
{
	color:	#ffffff;
}

div.mapa span.color1
{
	color:	#000000;
}

div.mapa span.color2
{
	color:	#000066;
}

div.mapa span.color3
{
	color:	#009900;
}

div.mapa span.color4
{
	color:	#CC3300;
}

div.mapa span.color5
{
	color:	#660000;
}

div.mapa span.color6
{
	color:	#990099;
}

div.mapa span.color7
{
	color:	#FF6600;
}

div.mapa span.color8
{
	color:	#FFFF00;
}

div.mapa span.color9
{
	color:	#00FF00;
}

div.mapa span.color10
{
	color:	#009999;
}

div.mapa span.color11
{
	color:	#00FFFF;
}

div.mapa span.color12
{
	color:	#0000FF;
}

div.mapa span.color13
{
	color:	#FF00FF;
}

div.mapa span.color14
{
	color:	#666666;
}

div.mapa span.color15
{
	color:	#CCCCCC;
}

div.mapa span.s
{
	text-decoration:	line-through;
}

div.mapa span.u
{
	text-decoration:	underline;
}
