div.umen blockquote
{
	padding:		3px 3px 3px 10px;
	margin:			0px 30px 0px 50px;
	background:		white;
	border-top:		1px dashed #999999;
	border-bottom:	1px dashed #999999;
	border-left:	5px solid #336699;
}

div.umen blockquote blockquote
{
	border-left-color:	#3B77B1;
}

div.umen blockquote blockquote blockquote
{
	border-left-color:	#4987C3;
}

div.umen blockquote blockquote blockquote blockquote
{
	border-left-color:	#6197CB;
}

div.umen blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#79A7D2;
}

div.umen blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#91B6DA;
}

div.umen blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#A9C6E3;
}

div.umen blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#C1D6EA;
}

div.umen div.box
{
	padding:	3px;
	margin:		5px;
	background:	white;
	border:		1px solid #DDDDDD;
}

div.umen div.box div
{
	padding:	4px 4px 0px 4px;
}

div.umen div.box_0 div
{
	display:	none;
}

div.umen div.box_1 div
{
	display:	block;
}

div.umen div.box h1
{
	padding:		3px 3px 3px 20px;
	margin:			0px;
	font-size:		100%;
	font-weight:	bold;
	cursor:			pointer;
}

div.umen div.box_0 h1
{
	background:		#EEEEEE url('box_0.png') no-repeat 2px 1px;
}

div.umen div.box_1 h1
{
	background:		#EEEEEE url('box_1.png') no-repeat 2px 1px;
}

div.umen div.center
{
	margin:		auto;
	text-align:	center;
}

div.umen div.cmd
{
	border:			1px solid #003366;
	border-right:	0;
	border-top:		0;
	border-bottom:	0;
	margin-left:	10px;
	padding-left:	5px;
}

div.umen div.modo
{
	background:		#FFEBEB;
	border-top:		1px dashed #CC3300;
	border-bottom:	1px dashed #CC3300;
	border-left:	5px solid #CC3300;
	padding:		3px 3px 3px 10px;
	margin:			0px 30px 0px 50px;
}

div.umen pre
{
	padding:	2px 4px;
	margin:		8px 16px;
	background:	white;
	border:		1px solid #666666;
	font:		normal normal normal 11px "Courier New", "fixedsys", Courier, monospace;
}

div.umen span.color0
{
	color:	white;
}

div.umen span.color1
{
	color:	black;
}

div.umen span.color2
{
	color:	#000066;
}

div.umen span.color3
{
	color:	#009900;
}

div.umen span.color4
{
	color:	#CC3300;
}

div.umen span.color5
{
	color:	#660000;
}

div.umen span.color6
{
	color:	#990099;
}

div.umen span.color7
{
	color:	#FF6600;
}

div.umen span.color8
{
	color:	yellow;
}

div.umen span.color9
{
	color:	lime;
}

div.umen span.color10
{
	color:	#009999;
}

div.umen span.color11
{
	color:	aqua;
}

div.umen span.color12
{
	color:	blue;
}

div.umen span.color13
{
	color:	fuchsia;
}

div.umen span.color14
{
	color:	#666666;
}

div.umen span.color15
{
	color:	#CCCCCC;
}

div.umen span.s
{
	text-decoration:	line-through;
}

div.umen span.spoil
{
	padding:	0 3px 0 3px;
	background:	white;
	color:		white;
}

div.umen span.spoil *
{
	visibility:	hidden;
}

div.umen span.spoil:hover
{
	color:	black;
}

div.umen span.spoil:hover *
{
	visibility:	visible;
}

div.umen span.u
{
	text-decoration:	underline;
}
