.amato blockquote
{
	padding:		4px 8px;
	margin:			8px 24px;
	background:		white;
	border-top:		1px dashed #999999;
	border-bottom:	1px dashed #999999;
	border-left:	5px solid #336699;
}

.amato blockquote blockquote
{
	border-left-color:	#3B77B1;
}

.amato blockquote blockquote blockquote
{
	border-left-color:	#4987C3;
}

.amato blockquote blockquote blockquote blockquote
{
	border-left-color:	#6197CB;
}

.amato blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#79A7D2;
}

.amato blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#91B6DA;
}

.amato blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#A9C6E3;
}

.amato blockquote blockquote blockquote blockquote blockquote blockquote blockquote blockquote
{
	border-left-color:	#C1D6EA;
}

.amato div.center
{
	margin:		auto;
	text-align:	center;
}

.amato pre
{
	padding:	2px 4px;
	margin:		8px 24px;
	background:	white;
	border:		1px solid #666666;
	font:		normal normal normal 11px "Courier New", "fixedsys", Courier, monospace;
}

.amato span.s
{
	text-decoration:	line-through;
}

.amato span.spoil
{
	padding:	0 3px 0 3px;
	background:	white;
	color:		white;
}

.amato span.spoil *
{
	visibility:	hidden;
}

.amato span.spoil:hover
{
	color:	black;
}

.amato span.spoil:hover *
{
	visibility:	visible;
}

.amato span.u
{
	text-decoration:	underline;
}

.amato table.markup
{
	background:			#EFEFEF;
	border-collapse:	collapse;
}

.amato table.markup td
{
	padding:		4px 6px;
	background:		#E0E0E0;
	border-bottom:	1px solid #C0C0C0;
	border-top:		1px solid transparent;
}

.amato table.markup th
{
	padding:		4px;
	background:		#C0C0C0;
	border-bottom:	1px solid #A0A0A0;
	border-top:		4px solid #A0A0A0;
}

.amato ul {
	padding:	0 0 0 24px;
	margin:		8px 0;
	list-style:	disc outside none;
}

.amato ul ul {
	margin:				0 0;
	list-style-type:	circle;
}

.amato ul ul ul {
	list-style-type:	square;
}
