
body
{
	padding:	16px;
	margin:		0px;
	background:	white;
	font:		normal normal normal 11px tahoma;
}

div.window {
	padding:		3px;
	margin:			0 auto 16px auto;
	background:		white;
	border:			1px solid #9AB;
	border-radius:	6px;
	box-shadow:		0 3px 10px #9AB;
}

div.window a {
	color:				#667;
	text-decoration:	none;
}

div.window a:hover {
	color:				#C92;
	text-decoration:	underline;
}

div.window div.body {
	padding:	6px 8px;
	margin-top:	3px;
	background:	#CDE;
}

div.window div.body blockquote.panel {
	padding:		8px;
	margin:			8px 0;
	background:		#BCD;
	border-color:	#BCC #68A #68A #BCC;
	border-radius:	4px;
	border-style:	solid;
	border-width:	1px;
}

div.window div.body div.buttons {
	margin-top:	4px;
}

div.window div.body div.code {
	font:	normal normal normal 11px monospace;
}

div.window div.body p.label {
	padding:		0 0 8px 0;
	margin:			0;
	font-weight:	bold;
}

div.window h2 {
	padding:		2px 8px;
	margin:			0;
	background:		#7AD;
	border-color:	#BCC #68A #68A #BCC;
	border-radius:	4px;
	border-style:	solid;
	border-width:	1px;
	font-size:		140%;
	font-variant:	small-caps;
	font-weight:	bold;
	color:			white;
}

div.window hr {
	border-bottom:	1px solid #CCF;
	border-top:		1px solid #66A;
}

input[type="button"],
input[type="submit"] {
	padding:		4px 8px;
	margin:			4px 4px 4px 0;
	background:		#DDD;
	border-color:	white #BBB #BBB white;
	border-radius:	3px;
	border-style:	solid;
	border-width:	1px;
	line-height:	100%;
	color:			#444;
}

input[type="button"]:active,
input[type="submit"]:active {
	background:		#DDD;
	border-color:	#BBB white white #BBB;
}

input[type="password"],
input[type="text"],
select {
	padding:		2px 4px;
	border-color:	#8AA #BBB #BBB #8AA;
	border-radius:	3px;
	border-style:	solid;
	border-width:	1px;
	color: 			#478;
}

form {
	margin:		0;
	padding:	0;
}
